header{
    background-image: linear-gradient(#000000,#020a28);
    nav{
        color: $color1;
        div{
            .icon1{
                width: 12%;
                padding: 10px;
            }
            .navbar-toggler{
                background-color:$color1;
            }
            div{
                justify-content: flex-end;
            }
            div ul{
                li{
                    max-width: 15rem;
                    min-width: 15rem;
                    max-height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        max-width: 12rem;
                        transition: 0.1s ease-in-out;
                    }
                    a:hover{
                        font-size:$navSize*1.05;
                    }
                }
            }
        }
    }
}