@mixin text($color, $fontSize, $fontWeight, $textTransform, $lineHeight) {
    font-family: 'Exo', sans-serif;
    font-style: italic;
    color:$color;                               //color xd ya ta
    font-size:$fontSize;                        //Tamaño de la letra ya ta
    font-weight:$fontWeight;                    //Grosor de la letra ya ta
    line-height:$lineHeight;                    //Separacion de renglones
    text-transform:$textTransform;              //Uppercase o no
}