//colors
    $color1 :#00ff83;
    $color2 :#020a28;
    $color3 :#ff00f9;
    $colorT :#FFFFFF;
//colors
//p
    $textSize:140%;
    $textWeight:200;
    $textLine:125%;
    $textTransf:none;
//p
//h1,h2
    $titleSize:$textSize *5.5;
    $titleWeight:$textWeight *4;
    $titleLine:$textLine *0.8;
    $uppercase: uppercase;
//h1,h2
//h3,h4
    $stitleSize:$textSize *1.2;
    $stitleWeight:$textWeight *1.5;
    $stitleLine:$textLine *1;
//h3,h4
//a
    $navSize:$textSize *1.5;
    $navWeight:$textWeight *1;
    $navLine:$textLine *2;
//a

//HACER FUNCIONAR FUNCIONES

